#sub-main {
    display: flex;
    gap: 10px;
}

#input-area {
    width: 100%;
    max-width: 950px;
    height: 546px;
    background-color: transparent;
}

#output {
    width: 100%;
    max-width: 950px;
    height: 550px;
    border: 1px solid black;
}

h2 {
    text-align: center;
    Font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    background-image: linear-gradient(
        aqua,
        burlywood,
        hotpink);
            
    padding: 20px;
    border-radius: 15px;
}

button {
    width: 100%;
    background-color: blueviolet;
    color:
        white;
    padding: 5px;
    border-radius: 10px;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
}